.container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
  width: 250px;
  flex-shrink: 0;

  h1 {
    text-align: center;
    font-size: 15pt;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .goback {
    display: flex;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 10px 20px;

    opacity: 0.5;
    &:hover {
      opacity: 1;
    }

    img {
      height: 10px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 5px;
    }

    p {
      color: #14248a;
      font-size: 9pt;
      font-weight: 900;
      text-transform: uppercase;
      margin-top: auto;
      margin-bottom: auto;
      overflow: hidden;
      word-wrap: none;
      white-space: nowrap;
      width: 0px;
      transition: width 0.5s;
      height: 10px;
      line-height: 10px;
      max-lines: 1;
    }

    &:hover {
      p {
        width: 60px;
      }
    }
  }

  .section {
    margin-top: 10px;

    h3 {
      font-size: 10pt;
      font-weight: 500;
      margin: 0px 0px 5px 0px;

      span {
        margin-right: 3px;
      }
    }

    ul {
      padding: 0;
      margin-top: 0px;
      list-style-type: none;

      li {
        cursor: pointer;
        margin: 0px -20px 0px -20px;
        padding: 8px 20px 8px 20px;
        font-size: 9.5pt;
        display: flex;

        .msgIndicator {
          height: 6px;
          width: 6px;
          background-color: #14248a;
          border-radius: 50%;
          margin-top: auto;
          margin-bottom: auto;
        }

        p {
          margin: 0px;
          flex-grow: 1;
        }

        &:hover,
        &.linkActive {
          background-color: #f9f9f9;
        }

        &:last-of-type {
          color: gray;
        }
      }
    }
  }
}

// .table {
//   width: 100%;
//   background-color: rgba($color: white, $alpha: 0.7);

//   font-size: 12pt;
//   text-align: left;
//   border: solid 1px lightgray;
// }

// .titleContainer {
//   display: flex;
//   justify-content: space-between;

//   button {
//     height: 50px;
//     margin-top: auto;
//     margin-bottom: auto;
//     background-color: #14248a;
//     border: none;
//     outline: none;
//     color: white;
//     cursor: pointer;
//     border-radius: 25px;
//     padding-left: 40px;
//     padding-right: 40px;
//     font-size: 10pt;
//   }
// }
