.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
  margin-bottom: -30px;
}

.callsContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.callButton {
  border-radius: 5px;
  font-size: 10pt;
  padding: 5px 15px;
  cursor: pointer;

  background-color: white;
  color: green;
  &:hover {
    color: white;
    background-color: green;
  }

  &:first-of-type {
    margin-right: 10px;
    color: #14248a;
    background-color: white;
    &:hover {
      color: white;
      background-color: #14248a;
    }
  }
}

.compose {
  z-index: 2;
  padding: 20px;
  padding-top: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba($color: #f5f3f2, $alpha: 0),
    rgba($color: #f5f3f2, $alpha: 1),
    rgba($color: #f5f3f2, $alpha: 1),
    rgba($color: #f5f3f2, $alpha: 1)
  );

  input {
    border: solid 1px rgb(240, 240, 240);
    outline: none;
    width: 100%;
    line-height: 30px;
    border-radius: 10px;
    padding: 5px 15px;
  }
}
