.container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 35, 35);
}

.localMedia {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100px;

  video {
    height: inherit;
  }
}

.remoteMedia {
  display: flex;
  width: 100%;
  justify-content: space-around;

  video {
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    max-height: 100%;
  }
}
